# macOS system files
.DS_Store
.AppleDouble
.LSOverride
._*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Temporary & Build Output
output/
tmp/

